* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica", "Tahoma", sans-serif;
  color: #fff;
}

a {
  color: #2029ff;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1024px;
  margin: 20px auto;
}

.header {
  margin: 20px 0;
}

.header h1 {
  margin: 20px 0;
  font-size: 36px;
  line-height: 1.2;
  color: #000;
}

.section {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #777;
  border-radius: 5px;
}

.section h2 {
  margin: 10px 0 20px;
  font-size: 32px;
  line-height: 1.2;
}

.section ul {
  padding-left: 20px;
}

.section ul li {
  margin: 10px 0;
}

.section p {
  margin: 10px 0;
}

